version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: sonicstream_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/serviceAccountKey.json:/app/backend/serviceAccountKey.json # Mount credential if needed
    environment:
      - PROJECT_NAME=SonicStream
    restart: always

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: sonicstream_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
